
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />	
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Presenting a list of financial numbers.</title>
	
	<meta name="description" content="Something financial for the eye and mind.">
	
	<link rel="shortcut icon" href="assets/numbersFavicon.ico" type="image/x-icon">

	<link rel="stylesheet" type="text/css" href="./css/mainPage.css">
	<link rel="stylesheet" type="text/css" href="./css/mainPageSPdataEarnings.css">
	<link rel="stylesheet" type="text/css" href="./css/spDataPage.css">
	<link rel="stylesheet" type="text/css" href="./css/errorPage.css">


</head>
<body>

	{{{body}}}

</body>
</html>