
	<div class="backdrop flexColumn">
		<div class="displayPallet flexColumn">
			<div class="palletTitle">S&P 500</div>

			<img src="/image/construction.png" id="constuction" alt="Construction Sign"/>

			<div class="getHome">Toto, I want to go back <a href="/">home</a>.</div>

			<div class="palletBottom"></div>
		</div>
	</div>

	<script src="/javascript/mainPage.js"></script>