
	<div id="backdrop" class="flexColumn">
		<div id="spPallet" class="displayPallet flexColumn">
			<div id="spTitle">S&P 500</div>

			<div id="getHome">Toto, I want to go back <a href="/">home</a>.</div>

		</div>
	</div>

	<script src="/javascript/mainPage.js"></script>