
@font-face { src: url("/assets/OregonLDOBoldOblique.ttf"); font-family: OBO; }
@font-face { src: url("/assets/jackInput.ttf"); font-family: Jac; }

html, body {
	margin: 0;
	padding: 0;
}

#backdrop {
	width: 100vw;
	height: 214rem;
	background: linear-gradient( rgba(65,105,225,0.8),
		rgba(65,105,225,0.8)),
	    url("/image/backdropData.png");
	background-size: cover;
}

.flexColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#introBody {
	width: 100vw;
	height: 20rem;
	padding-top: 4rem;
}

.flexRow {
	display: flex;
	align-items: center;
}	

.endStrip {
		width: 20vw;
		height: 8rem;
		background: aliceblue;
}

#introPallet {
	width: 60vw;
	height: 14rem;
	font-family: OBO;
	background: darkslateblue;
	border-radius: 2rem;
	border: 1rem solid aliceblue;
	justify-content: center;
}

#introSubject {
	font-size: 4rem;
}

#introFor {
	font-size: 2.2rem;
}

#introDate {
	font-size: 2.6rem;
}

.displayPallet {
	width: 70vw;
	font-family: Jac;	
	margin-top: 4rem;
	background: aliceblue;
	border-radius: 2rem;
	border: 1rem solid darkslateblue;
}

.palletTitle {
	font-size: 2.0rem;
	text-decoration: underline;
	padding: 1.4rem 0;
}