
/*S&P 500 Pallet*/
#spPallet {
	height: 28rem;
}

.spCloses {
	font-size: 1.4rem;
}

#barTitle {
	font-size: 1.2rem;
}

#barChart {
	height: 14rem;
}

#barFiveValue {
	font-size: 1rem;
	margin-top: 0.4rem;
}

.barPositionOne {
	display: flex;
}

.barPosition {
	display: flex;
	margin-top: 0.4rem;
}

.barText {
	height: 1.8rem;
	width: 4.6rem;
	display: flex;
	align-items: center;
}

.before {
	justify-content: flex-end;
	padding-right: 0.4rem;
}

.bars {
	height: 1.8rem;
}

.after {
	padding-left: 0.4rem;
}

#barOneValue {
	font-size: 1rem;
}

#spMoreData {
	align-self: flex-end;
	font-size: 1.2rem;
}

#spButtonHolder {
	margin: 0 2rem 0 1rem;
}

#spButton {
	font-size: 1.0rem;
	font-weight: bold;
	padding: 0.4rem 0.8rem;
	background-color: chocolate;
}


/*S&P low to high Pallet*/
#lowHighPallet {
	height: 14rem;
}

.lowToHigh {
	font-size: 1.4rem;
}


/*Earnings Pallet*/
#earningsPallet {
	height: 19rem;	
}

.latestEarnings {
	font-size: 1.4rem;
}

#compareTitle {
	font-size: 1.2rem;
	padding: 1rem 0;
}

.comparisons {
	width: 12rem;
	height: 4rem;
}

.priorNumber {
	font-size: 1.4rem;
}

.priorTitle {
	font-size: 1.2rem;
}


/*Confidence Index Pallet*/
/*Leading Economic Index Pallet*/
#indexPallet {
	height: 18rem;
}

.resultInfo {
	font-size: 1.4rem;
}

.space {
	padding: 0.6rem 0;
}

.finalWarning {
	font-size: 1.2rem;
}


/*Fed Funds Rate Pallet*/
#ffrPallet {
	height: 15rem;
}

.presentRate {
	font-size: 1.4rem;
}

.previousRate {
	font-size: 1.2rem;
	padding: 0.6rem 0 0 0;
}


/*Yield Curve Pallet*/
#inversionPallet {
	height: 33rem;
	text-align: center;
}
		
#invertInfo {
	font-size: 1.2rem;
	padding: 0 4rem;
}

#chartTitle {
	font-size: 1.4rem;
	padding: 0.8rem 0;
}

.pushEnd {
	justify-content: flex-end;
	padding-right: 4rem;
}

.commanYear {
	font-size: 1.2rem;
	width: 14rem;
	height: 2rem;
}

.quarterYear {
	align-items: center;
	justify-content: center;
}

.year {
	justify-content: flex-end;
}

.yearData {
	justify-content: center;
}


/*CPI Pallet*/
#cpiPallet {
	height: 12rem;
}

#cpiCurrent {
	font-size: 1.4rem;	
	padding: 0 0 0.4rem 0;
}


/*Unemployment Pallet*/
#employPallet {
	height: 19rem;
}

#currentRate {
	font-size: 1.4rem;
}

#averageRate {
	font-size: 1.2rem;
}

#rateGapTitle {
	font-size: 1.6rem;
	padding: 0.4rem 0;
}

.gapInfo {
	font-size: 1.2rem;
}

#currentGap {
	font-size: 1.4rem;
	padding: 0.4rem 0 0 0;
}